.main-container {
  min-height: 100vh;
  background-color: burlywood;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 40vh;
  min-width: 30vw;
  align-items: center;
  border-radius: 10px;
  gap: 10px;
  background-color: skyblue;
}

.player-form div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.player-form input[type="text"] {
  width: 80%;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 8px;
}
.player-form input[type="submit"] {
  align-self: flex-start;
  height: 35px;
  color: white;
  border: none;
  width: 100px;
  border-radius: 8px;
  background-color: black;
}

.question-form {
  height: 50vh;
  background-color: skyblue;
  min-width: 50vw;
  padding: 15px;
  color: black;
  border-radius: 13px;
}
.question-form input[type="submit"] {
  height: 35px;
  width: 100px;
  border: none;
  border-radius: 8px;
  background-color: black;
  color: white;
  margin-top: 10px;
}
